<h1>Cart</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Course Title</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
      </tr>
    </thead>

    
    <tbody>
    <% n = 1 %>
    <% @cart_items.each do |course| %>
      <tr>
        <th scope="row"><%= "#{n}" %></th>
        <td><%= image_tag course.image , alt: "#{course.title} image", class: 'mt-2', style: 'width:100%' %></td>
        <td><%= course.title %></td>
        <td><%= number_to_currency(course.price) %></td>
        <td>1</td>
        <td><%= link_to 'Remove', remove_carts_path(course_id: course.id), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to remove #{course.title} from cart?"} %></td>
      </tr>
      <% n += 1 %>
    <% end %>
    </tbody>
    <tbody>
    <tr>
      <th>Total: <%= number_to_currency(@total_costs.inspect) %></th>
    </tr>
    </tbody>
  </table>

<%= link_to "Pay Now 💵", "", id: "stripe", class: "btn btn-success btn-lg btn-block" %>

<%= javascript_pack_tag "stripe" %>