<div class="row content mt-3">
  <div class="col-md-4">
    <%= image_tag image_for(@course) , alt: "#{@course.title} image", class: 'mt-2', style: 'width:100%;' %>
  </div> 
  <div class="col-md-8">
    <h1><%= @course.title %></h1>
    <div>
      <strong>Sub-title:  </strong>
      <span><%= @course.sub_title %></span>
    </div>
    <div>
      <strong>Price:  </strong>
      <span><%= number_to_currency(@course.price) %></span>
    </div>
    <p><%= @course.description %></p>

    <div class='gotta set margin'>
    <!-- only show edit and delete buttons when user has the power to edit the object -->
    <% if can? :edit, @course %> 
    <%= link_to 'Edit', edit_course_path(@course), class: 'btn btn-info'%>
    <%= link_to 'Delete', course_path(@course), method: :delete, class: 'btn btn-danger', data: { confirm: "Are you sure you want to delete #{@course.title}?"} %>
    <% end %>
    
    <% if user_signed_in? && current_user.is_student? && !purchased_courses(@course)  %>
    <%= link_to "Add to cart", carts_path(course_id: @course.id), method: :post  %>
    <% end %>

    <%= link_to 'Back', courses_path, class: 'btn btn-primary' %> 
    </div>
  
    <%= render '/shared/course_content' %>
  </div>
</div>

